.idea/
*.egg-info/
.pytest_cache/
__pycache__
data/
.cache/
*.mp4
manuscript/sarl.aux
manuscript/sarl.pdf
manuscript/sarl.synctex.gz
manuscript/sarl.bbl
manuscript/sarl.blg
manuscript/root.aux
manuscript/root.bbl
manuscript/root.blg
manuscript/root.pdf
manuscript/root.synctex.gz
