[BASIC]

#variable-rgx=[a-z0-9_]{1,30}$
good-names=dx,dy,i,j,k,px,py,r,th,vx,vy,x,y,z,ob

[TYPECHECK]

# List of members which are set dynamically and missed by pylint inference
# system, and so shouldn't trigger E1101 when accessed. Python regular
# expressions are accepted.
generated-members=numpy.*,torch.*


disable=missing-docstring,useless-object-inheritance
max-line-length=120