[trainer]
batch_size = 128


[imitation_learning]
il_episodes = 1
il_policy = orca
il_epochs = 50
il_learning_rate = 0.01
# increase the safety space in ORCA demonstration for robot
safety_space = 0.15


[train]
rl_learning_rate = 0.001
# number of batches to train at the end of training episode
train_batches = 100
# training episodes in outer loop
train_episodes = 100000
# number of episodes sampled in one training episode
sample_episodes = 1
target_update_interval = 50
evaluation_interval = 500
# the memory pool can roughly store 2K episodes, total size = episodes * 50
capacity = 100000
epsilon_start = 0.4
epsilon_end = 0.1
epsilon_decay = 2000
checkpoint_interval = 1000

[curriculum]
mode = 'increase_obst_radius' # 'increasing_obst_num','single obstacle in the middle'
radius_start = 0.5
radius_max = 3.0
radius_increment = 0.5
largest_obst_ratio = 0.2
level_up_mode = 'success_rate' # 'x_episodes', 'decks_hard_new'
success_rate_milestone = 0.7
success_rate_window_size = 50
p_handcrafted = 0.1
p_hard_deck = 0.7
hard_deck_cap = 500
