[env]
time_limit = 25
# specify the global time step of the simulation, the inverse of FPS
time_step = 0.25
val_size = 100
test_size = 500
randomize_attributes = false


[sim]
train_val_sim = square_crossing
test_sim = square_crossing
square_width = 6
circle_radius = 3
ped_num = 10


[peds]
visible = true
policy = orca
radius = 0.3
v_pref = 1
sensor = coordinates


[navigator]
visible = false
# the policy of navigator is set outside, not set inside the environment
policy = none
radius = 0.3
v_pref = 1
sensor = coordinates
