[env]
train_ped_num = 1
time_limit = 25
# specify the global time step of the simulation
time_step = 0.25

[peds]
visible = true
policy = orca
radius = 0.3
v_pref = 1
sensor = coordinates
kinematics = holonomic


[navigator]
visible = true
# the policy of navigator is set outside, not set inside the environment
policy = none
radius = 0.3
v_pref = 1
sensor = coordinates
kinematics = holonomic
