[value_network]
reparameterization = true
state_dim = 15
gamma = 0.9
kinematics = holonomic
discrete = true
fc_layers = 150, 100, 100


[orca]
# orca policy setting for navigator, might be different from pedestrians
time_step = 1
neighbor_dist = 1.5
max_neighbors = 5
time_horizon = 1.5
time_horizon_obst = 2
radius = 0.4
max_speed = 2