# policy configurations for navigator

[cadrl]
state_dim = 15
gamma = 0.9
kinematics = holonomic
fc_layers = 150, 100, 100
action_space_size = 100
sampling = uniform
discrete = true


[srl]
state_dim = 15
gamma = 0.9
kinematics = holonomic
fc_layers = 150, 100, 100
action_space_size = 100
sampling = uniform
discrete = true