# policy configurations for navigator

[value_network]
state_dim = 15
gamma = 0.9


[action_space]
kinematics = holonomic
action_space_size = 100
sampling = exponential
discrete = true


[cadrl]
fc_dims = 150, 100, 100
multiagent_training = false

[srl]
mlp1_dims = 150, 100, 100
mlp2_dims = 100
multiagent_training = true

[sarl]
mlp1_dims = 150, 100, 100
mlp2_dims = 100
multiagent_training = true