[trainer]
batch_size = 100
learning_rate = 0.01
step_size = 150
num_epochs = 30


[imitation_learning]
il_episodes = 1500
il_policy = orca
il_epochs = 100


[train]
# number of epochs to train at the end of training episode
train_epochs = 30
# training episodes in outer loop
train_episodes = 200
# number of episodes sampled in one training episode
sample_episodes = 20
test_interval = 50
capacity = 40000
epsilon_start = 0.5
epsilon_end = 0.1
epsilon_decay = 150
checkpoint_interval = 50