[env]
train_ped_num = 1
time_limit = 25
# because the frame rate in the data is about 2.5 fps
time_step = 0.4

[peds]
visible = true
policy = trajnet
radius = 0.05
v_pref = 1
sensor = coordinates
kinematics = holonomic


[navigator]
visible = true
# the policy of navigator is set outside, not set inside the environment
policy = none
radius = 0.05
v_pref = 1
sensor = coordinates
kinematics = holonomic
